:root {
	--description-font-size: 16px;
	--description-line-height: 18px;
	--heading-font-size: 32px;
	--heading-line-height: 36px;
	--sub-heading-font-size: 22px;
	--tag-font-size: 12px;
	--default-border-radius: 15px;
	--padding: 15px;
	--larger-gap: 32px;
}
.default-padding-body {
	padding: 0px 128px;
}

@media (max-width: 992px) {
	.default-padding-body {
		padding: 0px 64px;
	}
}

@media (max-width: 576px) {
	.default-padding-body {
		padding: 0px 15px;
	}
}

* {
	margin: 0;
	padding: 0;
	font-family: var(--font-poppins), sans-serif;
	font-size: var(--description-font-size);
}
/* nextjs-portal {
	display: none;
} */
